<a href="https://colab.research.google.com/github/MichelWars/exercicios-de-aulas/blob/main/AulaIA20_03_25.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
nome = input("Digite seu nome: ")

print(f'Meu nome é: {nome}')

In [ ]:
idade = int(input('Digite sua idade: '))

print("Sua idade é ", idade)

In [ ]:
 lista = ["Michel", 30]
 print(lista)
 print(lista[0])

In [ ]:
 minha_tupla = (1, 2, 3)

 minha_tupla

In [ ]:
 meu_dict = {
    "nome": "João",
     "idade": 25,
     "cidade": "São Paulo"
 }

 meu_dict

In [ ]:
matriz = {
    "aluno1": {
        "nome": "João",
        "idade": 20
    },
    "aluno2": {
        "nome": "Maria",
        "idade": 22
    }
}

matriz["aluno2"]["nome"]
print(f'a aluna {matriz["aluno2"]["nome"]} tem {matriz["aluno2"]["idade"]} anos')

a aluna Maria tem 22 anos

In [ ]:
 import numpy as np

 array = np.array([10,30,50,50])

 array

array([10, 30, 50, 50])

In [ ]:
import numpy as np
matriz = np.array([
    [1,2,3],
    [4,5,6],
    [7,8,9]
])


print(matriz[1][1])

5